@font-face {
    font-family: 'Rondo'; 
    src: url('OPTIRondo-Bold.otf');
}

@font-face {
    font-family: 'Roboto';
    src: url('OpenSans-BoldItalic.ttf');
}

* {
    margin: 0; 
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color:rgb(248, 248, 248)
}

#toy {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d7272c;
    height: 950px;
    width: 1200px;
    border-radius: 25px;
    box-shadow: inset 0px 0px 20px 1px rgb(229, 200, 200);
}

#title {
    font-family: 'Rondo', sans-serif;
    color: rgb(248, 214, 19);
    font-size: 50px;
    align-self: stretch;
    text-align: center;
    margin: 25px;
}

#easel {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    height: 1000px; 
    width: 1000px;  
    border: 3px solid black;
}

.square {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    flex: 0 0 auto;
    background-color: rgb(212, 212, 212);
}

.filled {
    background-color: black;
}

.grid-line {
    border: 1px solid gray;
}

#options {
    align-self: stretch;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

#resize, #random-color {
    font-family: 'Roboto';
    box-sizing: border-box; 
    border: 10px solid rgb(237, 237, 237);
    border-radius: 75px;
    background-color: white;
    color: rgb(53, 53, 53);
    font-size: 24px;
    padding: 10px;
    height: 150px;
    width: 150px;
    margin: 50px;
    box-shadow: #8a1a1e 0px 0px 4px 1px;
}

#toggle-grid, #clear {
    font-size: 20px;
    padding: 10px;
    border: 3px solid rgb(187, 187, 187);
    box-shadow: #8a1a1e 0px 0px 4px 1px;
}