* {
    margin: 0; 
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#easel {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 1000px; 
    width: 1000px;  
    border: 2px solid black;
}

.square {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    flex: 0 0 auto;
}

.filled {
    background-color: black;
}