* {
    margin: 0; 
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color:rgb(239, 231, 231)
}

#toy {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d7272c;
    height: 750px;
    width: 1000px;
    border-radius: 18px;
    box-shadow: inset 0px 0px 20px 1px rgb(222, 201, 201);
}

#logo {
    font-family: 'rondo-mn', sans-serif;
    font-weight: 500; 
    color: rgb(248, 214, 19);
    font-size: 65px;
    align-self: stretch;
    text-align: center;
    margin: 25px;
}

#easel {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    height: 1000px; 
    width: 1000px;  
    border: 3px solid black;
}

.square {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    flex: 0 0 auto;
    background-color: rgb(212, 212, 212);
}

.filled {
    background-color: black;
}

.grid-line {
    border: 1px solid gray;
}

#options {
    align-self: stretch;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

#center {
    margin: 25px 0 0 0;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#user {
    font-family: 'Roboto', sans-serif;
    color: rgba(248, 214, 19, 0.6);
    font-size: 18px;
    margin: 20px;
    text-decoration: none;
    font-weight: 800;
    font-style: italic;
}

#resize, #random-color {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-style: italic;
    box-sizing: border-box; 
    border: 10px solid rgb(237, 237, 237);
    border-radius: 75px;
    background-color: white;
    color: rgb(63, 63, 63);
    font-size: 24px;
    padding: 10px;
    height: 150px;
    width: 150px;
    margin: 50px;
    box-shadow: #8a1a1e 0px 0px 4px 1px;
}

#toggle-grid, #clear {
    font-size: 20px;
    padding: 10px;
    border: 3px solid rgb(187, 187, 187);
    box-shadow: #8a1a1e 0px 0px 4px 1px;
    margin: 20px 20px 5px;
}